body {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(0, 0, 0);
}

h1 {
font-size: 50px;
color: #000000;
margin-top: 20px;
margin-bottom: 20px;
}

p {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 18px;
    color: #ff0000;
    margin: 20px;
    text-align: justify;
}

img {
    width: 530px;
    height: 360px;
    margin: 50px;

}
